__pycache__
.git
/venv
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.idea/
*.log
*.tmp
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.png
model_compare.md
README.md
changelog.md
